<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.mapper.EmployeeMapper">
    <select id="selectAll" resultType="com.manage.domain.Employee">
        select * from employee
        <where>
            <if test="name != null">name like concat('%',#{name},'%')</if>
        </where>
        order by id desc
    </select>
    <insert id="insert" parameterType="com.manage.domain.Employee">
        insert into `employee` (username,password,role,name,sex,no,age,description,dept_id)
        values (#{username},#{password},#{role},#{name},#{sex},#{no},#{age},#{description},#{deptId});
    </insert>
    <update id="updateById" parameterType="com.manage.domain.Employee">
        update `employee`
        set username = #{username},password = #{password},role = #{role},name = #{name},sex = #{sex},no = #{no},age = #{age},description = #{description},dept_id = #{deptId}
        where id = #{id}
    </update>
    <!-- 已经使用注解实现了 -->
<!--    <delete id="deleteById" parameterType="com.manage.domain.Employee">-->
<!--        delete from employee-->
<!--        where id = #{id}-->
<!--    </delete>-->
</mapper>